on:
  push:
  pull_request:

jobs:
  gradle_validation:
    name: "Validate Gradle wrapper"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
  check_kotlin:
    name: Compile & Validate Kotlin code
    runs-on: ubuntu-20.04
    needs: gradle_validation
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '18'
      - name: Compile and check code
        uses: gradle/gradle-build-action@v2
        with:
          arguments: classes check
  check_rust:
    name: Compile & Validate Rust code
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build code
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features --manifest-path fs-util/Cargo.toml
      - name: Setup clippy
        run: rustup component add clippy
      - name: Check clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --manifest-path fs-util/Cargo.toml


