on:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  # Credit: https://github.com/cli/cli/blob/351cd622e7499ab94b57ec5dbbcd2143c3761192/.github/workflows/releases.yml#L200-L214
  winget:
    name: Update winget manifest
    runs-on: windows-2022
    steps:
      - name: Setup winget-create
        shell: pwsh
        env:
          WINGETCREATE_VERSION: v1.0.4.0
        run: iwr https://github.com/microsoft/winget-create/releases/download/${env:WINGETCREATE_VERSION}/wingetcreate.exe -OutFile wingetcreate.exe
      - name: Bump Winget manifest
        shell: pwsh
        env:
          WINGET_GITHUB_TOKEN: ${{ secrets.WINGET_UPLOAD_GITHUB_TOKEN }}
        run: |
          $tagname = $env:GITHUB_REF.Replace("refs/tags/", "")
          $version = $tagname.Replace("v", "")
          $url = "https://github.com/NyCodeGHG/omsi-launcher/releases/download/${tagname}/omsi-launcher-${version}.msi"
          .\wingetcreate.exe update OmsiLauncher.OmsiLauncher -u $url --version $version
          if ($version -notmatch "-") {
            .\wingetcreate.exe submit .\manifests\o\OmsiLauncher\OmsiLauncher\${version}\ --token $env:WINGET_GITHUB_TOKEN
          }
      # Patch changelog, commit and push to the current repository
  changelog:
    name: Update Changelog
    runs-on: ubuntu-latest
    steps:
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 18
      - name: Fetch Sources
        uses: actions/checkout@v3.0.2
        with:
          ref: ${{ github.event.release.tag_name }}
      - name: Patch Changelog
        run: ./gradlew patchChangelog
      - name: Commit files
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git commit -m "Update changelog" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: main
